html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px){
    .dos-columnas {
        display: flex;
        justify-content: space-between;/* para centrar de dejar un  espacio al medio*/
        /*justify-conte alne a el contendo de izquiera a derecha*/
         

        /*gap:2rem;*/

    }

    .entrada-blog {
        flex:0 0 calc(50% - 1rem); /*lo que hqce es que separa al 50% y crea una separacon de 1 rem pero
        para que funcione  se de be colococar antes justify-content: space-between;/*/

        /*de los valores que tenen flex el primero es para agranda (0
        el segundo es para achicar (0) y el tercer valor calc(50% - 1rem) es la base */
    
}

